.dashboard-container {
  border-style: solid;
  border-radius: 0.2rem;
  border-width: 1px;
  min-height: 100vh;
}

.dashboard-content {
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem;
}
.dashboard-content h2 {
  margin-left: 4rem;
}

.create-folder-button {
  margin: 0rem 1rem 1rem 4rem;
}
