.no-files-found {
  margin: 4rem 0rem 0rem 3rem;
}

.file-list {
  margin: 2rem 0rem 0rem 0rem;
}

.file-items {
  display: flex;
  list-style: none;
  margin-left: 0rem;
}

.file-icon {
  margin: 0.2rem 0.2rem 0rem -0.3rem;
}

.file-name,
.file-size {
  margin-right: 2rem;
}
