.navbar-container {
    display: flex;
}

.navbar-logo {
    width: 4rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(80, 80, 80);
}

.navbar-list {
    display: flex;
}