.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.navbar-logo {
    width: 4rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(80, 80, 80);
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding-right: 1.25rem;
}